<section class="large-10 columns">
  <%= generic_title("Expenses", "Economic costs that a business incurs through its operations to earn revenue.") %>

  <%
     main_array = Array.new
     ExpenseCategory.each do |expense|
         
     end
  %>

    <div class="large-3 columns" style="background-color: #808080; color:white; font-size: 12px;">
    </div>

    <div class="large-9 columns">
    </div>

  <%= render :template => 'common_partials/generic_index/_wizard_buttons' %>
  <%= render :template => 'common_partials/generic_index/_overview_panels' %>
</section>



