<div class="form-block">
  <div class="label">Rate Type : </div>
  <div>
    <select name='base_rate[rate_type]'
            required="required" >
      <% if @selected_base_rate[:rate_type] == 'BASE' %>
          <option value="BASE" selected>BASE</option>
          <option value="ALLOWANCE">ALLOWANCE</option>
          <option value="OTHER">OTHER</option>
      <% elsif @selected_base_rate[:rate_type] == 'ALLOWANCE' %>
          <option value="BASE">BASE</option>
          <option value="ALLOWANCE" selected>ALLOWANCE</option>
          <option value="OTHER">OTHER</option>
      <% elsif @selected_base_rate[:rate_type] == 'OTHER' %>
          <option value="BASE">BASE</option>
          <option value="ALLOWANCE" >ALLOWANCE</option>
          <option value="OTHER" selected>OTHER</option>
      <% else %>
          <option disabled selected>Select Rate Type</option>
          <option value="BASE">BASE</option>
          <option value="ALLOWANCE">ALLOWANCE</option>
          <option value="OTHER">OTHER</option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-block">
  <div class="label">Start of Effectivity : </div>
  <div>
<input name="base_rate[start_of_effectivity]"
       id="base_rate_start_of_effectivity"
       data-parsley-trigger="change"
       data-parsley-time_order_base_rate="0"
       step="1"
       value= <%= @selected_base_rate[:start_of_effectivity].present? ?
                          @selected_base_rate[:start_of_effectivity].strftime('%m/%d/%Y %T') :
                          Time.now.strftime('%m/%d/%Y %T') %>
               type="datetime-local">
  </div>
</div>

<div class="form-block">
  <div class="label">End of Effectivity : </div>
  <div>
    <input name="base_rate[end_of_effectivity]"
           id="base_rate_end_of_effectivity"
           step="1"
           data-parsley-trigger="change"
           data-parsley-time_order_base_rate="0"
           value= <%= @selected_base_rate[:end_of_effectivity].present? ?
                              @selected_base_rate[:end_of_effectivity].strftime('%m/%d/%Y %T') :
                              Time.now.strftime('%m/%d/%Y %T') %>
                   type="datetime-local">
  </div>
</div>

<div class="form-block">
  <div class="label">Signed Type : </div>
  <div>
    <select name='base_rate[signed_type]'
            required="required" >
      <% if @selected_base_rate[:signed_type] == true %>
          <option value="1" selected>Additive</option>
          <option value="0">Deductive</option>
      <% elsif @selected_base_rate[:signed_type] == false %>
          <option value="0" selected>Deductive</option>
          <option value="1">Additive</option>
      <% else %>
          <option disabled selected>Select Signed Type</option>
          <option value="1">Additive</option>
          <option value="0">Deductive</option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-block">
  <div class="label">Period of Time : </div>
  <div>
    <select name='base_rate[period_of_time]'
            required="required" >
      <% if @selected_base_rate[:period_of_time] == 'HOUR' %>
          <option value="HOUR" selected>HOUR</option>
          <option value="DAY">DAY</option>
          <option value="WEEK">WEEK</option>
          <option value="MONTH">MONTH</option>
      <% elsif @selected_base_rate[:period_of_time] == 'DAY' %>
          <option value="HOUR">HOUR</option>
          <option value="DAY" selected>DAY</option>
          <option value="WEEK">WEEK</option>
          <option value="MONTH">MONTH</option>
      <% elsif @selected_base_rate[:period_of_time] == 'WEEK' %>
          <option value="HOUR">HOUR</option>
          <option value="DAY">DAY</option>
          <option value="WEEK" selected>WEEK</option>
          <option value="MONTH">MONTH</option>
      <% elsif @selected_base_rate[:period_of_time] == 'MONTH' %>
          <option value="HOUR">HOUR</option>
          <option value="DAY">DAY</option>
          <option value="WEEK">WEEK</option>
          <option value="MONTH" selected>MONTH</option>
      <% else %>
          <option disabled selected>Select Period of Time</option>
          <option value="HOUR">HOUR</option>
          <option value="DAY">DAY</option>
          <option value="WEEK">WEEK</option>
          <option value="MONTH" selected>MONTH</option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-block">
  <div class="label">Amount : </div>
    <%= text_field_tag("base_rate[amount]",
                       content = @selected_base_rate.amount,
                       options = {placeholder: "Enter amount",
                                  required: "required",
                                  :"data-parsley-trigger" => "keyup",
                                  :"data-parsley-step" => "0.01",
                                  :"data-parsley-type" => "number"}) %>
</div>

<%= generic_remarks_description_field('base_rate',@selected_base_rate[:remark]) %>