<div class="pagination_set">
  <span>
    <%=
        begin
          paginate result_set
        rescue => ex
          ex.to_s
        end
    %>
  </span>
</div>

<div class="generic_index_options">
  <%= renderCorePartial('generic_back_button') %>
  <%= link_to("Reset Search", application_reset_search_path(reset_search_redirect: request.path), class: 'tiny button') %>
  <%= link_to( "Add New Record" ,{:action => "new"}, class: 'tiny button')%>
  <a class="tiny button export_to_csv">Export to CSV</a>
  <a class="tiny button print_table">Printable Format</a>
</div>

<script>
    $('.print_table').click(function() {
        $("table.generic_index").css({"font-size": 12,"font-family": "arial"});
        $("a.table_orientation_indicator").remove()
        $("table.generic_index th:last-child, table.generic_index td.actions").remove();
        table = $("table.generic_index").get();
        $("body").empty();
        $("body").html(table);
        $("a").removeAttr("href");
        $("head").empty();
    });

    $('.export_to_csv').click(function() {
        exportTableToCSV.apply(this, [$('.generic_index'), 'export_table.csv']);
    });
</script>