<td style="background-image: url( '<%= result_instance_attribute %>' ); border: solid #808080 thick; background-position: center;">
  <a target="_blank"
     class="show_panel_small_button"
     href= <%= result_instance_attribute %> >
    <%=
        unless result_instance_attribute.blank?

          require 'uri'
          uri = result_instance_attribute.to_s
          uriPathTail = File.basename(URI.parse(uri).path)
        else

          "NO PICTURE"

        end

    %>
  </a>
</td>