<div class="large-6 columns">
  <%= f.input :name,
              :label => "Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
</div>

<% if action_name != 'new' %>
    <hr style="visibility: hidden">
    <div>
      <%= related_summary(general_administration_contact_details_path, Branch, selected_model_instance.id) %>
    </div>

    <hr style="visibility: hidden">
    <div>
      <%= related_summary(general_administration_associated_files_path, Branch, selected_model_instance.id) %>
    </div>
<% end %>
