<div class="large-6 columns">

  <%= f.input :name,
              :label => "Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>

</div>