<div class="large-6 columns">

  <%= f.input :name,
              :as => :string,
              :label => "Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>

  <%=
      f.input :parent_expense_id,
              required: false,
              :label => "Parent Expense",
              collection: ExpenseCategory.all,
              prompt: "Select Parent Expense",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:parent_expense_id],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 256
                      }

  %>

  <script>
      var $current_selectize = $('#accounting_and_finance_expenses_expense_categories_parent_expense_id').selectize({});
      <% unless wizard_activated? %>
          <% if action_name == 'show' %>
              try { $current_selectize[0].selectize.disable(); }
          catch(err) {}
      <% end %>
      <% end %>
  </script>

</div>