<td class="actions">
  <ul class="button-group">
    <li><a href="#" class="tiny_button generic_table_action_button">&#9998;</a></li>
    <li><a href="#" class="tiny_button generic_table_action_button">&#10006;</a></li>
    <li><a href="#" class="tiny_button generic_table_action_button">&#128269;</a></li>
  </ul>
</td>