<td>
  <%= current_model_instance[:created_at].strftime("%m/%d/%Y %T %p") %>
</td>
<td>
  <%= current_model_instance[:updated_at].strftime("%m/%d/%Y %T %p") %>
</td>
<%=
    render partial: 'common_partials/generic_table/actions', locals: {
                                                                   current_model_instance: current_model_instance,
                                                                   controller_link: controller_link }
%>
