<div class="large-6 columns">

  <%= polymorphic_selector(selected_model_instance,'model_one',f) %>

  <hr style="visibility: hidden">
  <%= polymorphic_selector(selected_model_instance,'model_two',f) %>

  <hr style="visibility: hidden">
  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>


</div>

<%= related_models(params[:wizard_primary_model_type],params[:wizard_primary_model_id]) if wizard_activated? %>