<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

Hello!

<br><br>

Please click on the link below to verify registration and begin signing in the system<br>
<a href="northseaparts.com/access/verify?hashlink=<%= @hashlink %>">http://www.northseaparts.com/access/verify/?code=<%= @hashlink %></a>

<br><br>
We look forward to working with you!
<br>
North Sea Parts Staff
<br>

</body>
</html>