<h2 class="miniheader">Employees:</h2>
<%=
    select_tag "employee_compensation_benefits_selection", options_from_collection_for_select(@employees, "id", lambda { |employee| employee.actor.name }), options={ include_blank: true}
%>