<div class="large-6 columns">

  <%= polymorphic_selector(nil,'model_one',f) %>
  <%= polymorphic_selector(nil,'model_two',f) %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
</div>