<div style="position:relative; top:10%;">
      <div class="large-3 columns">&nbsp;</div>
      <div class="large-6 columns">

        <div style="padding:15px;">
        <div class="mainheader"><%= headerMessage %></div>
        <p style="margin-left:25px;"><%= bodyMessage %></p>
        </div>

        <div style="padding: 15px;" align="right">
          <% @nextLink.each do |key, value| %>
              <a href=" <%= value[:url] %> " class=" small button"><%= value[:label] %></a>
          <% end %>
        </div>

      </div>
      <div class="large-3 columns">&nbsp;</div>
</div>