<% if object && object.errors.size > 0 %>

    <% object.errors.full_messages.each do |msg| %>
        <div class="error_messages" style="padding:5px; color:#721314; margin:5px; border-color:#721314; border-width: 2px; border-style:solid; border-left-color:#721314; border-left-width:5px; border-left-style:solid;">
          <%= msg %><br>
        </div>
    <% end %>

<% end %>