<div class="overview_panel">
  <%= render path+'/overview' %>
  <div style="float:right; font-size: 12px;">
    Number of Records <%= model.count %> |
    <a href="<%= path %>" class="tiny button">
      Proceed to <%= name %>
    </a>
  </div>

</div>