<div class="small-2 columns" id="side-navigation-container">

  <div style="background-color: #721314; padding: 5px; margin-bottom: 20px;">
    <div style="float:left;background-color: #721314; padding-left: 5px;">System Navigation</div>
    <div style="float:right;background-color: #721314; ">
      <a href="#" id="toggle-visibility-close">&#x25C0;</a>
      <a href="#" id="toggle-items">&#x25BC;</a>
    </div>
  </div>

  <div align="center" style="display:inline;  margin-top:20px;">
    <input id="side-nav-search-box" placeholder=" &nbsp;&nbsp; System-Wide Search" type="text" style="height: 12px; font-size: 12px; display:inline; width:85%; margin-left: 10px;">
    <a href=""><span align="center" style="display:inline; font-size: 15px;"> &#128269; </span></a>
  </div>

  <div style="background-color: #808080; padding-left: 5px; margin-top:10px; font-size: 10px; ">
    <%=
        render_navigation :expand_all => true
    %>
  </div>

</div>

<div id="side-navigation-icon" style="font-size: 15px;">
  <a class="tiny button" href="#" id="toggle-visibility-open">&#x25B6;</a>
</div>

<script>
    // Side Navigation Behaviours
    $("#side-navigation-icon").hide();
    $( "#toggle-visibility-close" ).click(function()
    {
        $("#side-navigation-container").hide();
        $("#side-navigation-icon").show();
    });
    $( "#toggle-visibility-open" ).click(function()
    {
        $("#side-navigation-container").show();
        $("#side-navigation-icon").hide();
    });

    $(document).ready(function(){

        $(function() {
            $( document ).tooltip();
        });

        $('#side-nav').sapling();
        $('#side-nav').data('sapling').expand();

        $('#expand_all').click(function() {
            $('#side-nav').data('sapling').expand();
        });

        $('#collapse_all').click(function() {
            $('#side-nav').data('sapling').collapse();
        });

        var navigationDisplay = true;
        var sideNavigationContainerCSS = $('#side-navigation-container').attr("style");
        var navigationLabelContainerCSS = $('#navigation_label_container').attr("style");

        $('#hide_show_all').click(function() {
            $('#side-nav').toggle()
            $('#search_system').toggle()
            $('#navigation_label').toggle()
            $('#expand_all').toggle()
            $('#collapse_all').toggle()

            if(navigationDisplay == true)
            {
                $('#side-navigation-container').css("width","50px");
                $('#navigation_label_container').attr("style","")
                navigationDisplay = false;
            }
            else
            {
                $('#side-navigation-container').attr("style",sideNavigationContainerCSS)
                $('#navigation_label_container').attr("style",navigationLabelContainerCSS)
                navigationDisplay = true;
           }
        });
    });

</script>


<style>
    #side-nav-search-box
    {
        margin:0px;
    }

    #side-navigation-container
    {
        padding:0px;
        /*width: 20%;*/
        color:white;
        font-size: 12px;
        background-color: #721314;
    }

    input.search_system::-webkit-input-placeholder { /* WebKit browsers */
        color:    white;
    }
    input.search_system:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    white;
        opacity:  1;
    }
    input.search_system::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    white;
        opacity:  1;
    }
    input.search_system:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    white;
    }
</style>