<section class="small-10 columns">

  <div class="content">

    <div class="result-page">

      <div class="lg-spacer"></div>

      <section>
        <i class="fa fa-5x fa-check-square-o"></i>
      </section>

      <div class="md-spacer"></div>

      <h3><%= @success_message %></h3>

      <div class="lg-spacer"></div>

      <div class="lg-spacer"></div>

      <section>

        <%= link_to "Back to Employee List" ,{ :action => "employee_accounts_management" }, class: "button tiny" %>
        <%= link_to "View Profile" ,{ :action => "employee_profile", :employee_id => @employee.id, :actor_id => @actorReference.id }, class: "button tiny" %>

        <div class="lg-spacer"></div>

        <div class="lg-spacer"></div>

      </section>

    </div>

  </div>

</section>