<div class="form-block">
  <div class="label">Current Duty Status :</div>
  <div>
    <select id="new_duty_status_active" name="duty_status[active]" required="required">
      <% if @selected_duty_status[:active] == true %>
          <option value='' disabled>Duty Status</option>
          <option value='1' selected>ACTIVE</option>
          <option value='0'>INACTIVE</option>
      <% elsif @selected_duty_status[:active] == false %>
          <option value='' disabled>Duty Status</option>
          <option value='1'>ACTIVE</option>
          <option value='0' selected>INACTIVE</option>
      <% else %>
          <option value='' disabled selected>Duty Status</option>
          <option value='1'>ACTIVE</option>
          <option value='0'>INACTIVE</option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-block">
  <div class="label">Date of Effectivity :</div>
    <input type="datetime-local"
           step = 1
           required="required"
           name="duty_status[date_of_effectivity]"
           value=
    <%=
        @selected_duty_status[:date_of_effectivity].present? ?
                (@selected_duty_status[:date_of_effectivity].strftime('%FT%T') ) :
                (Time.now)
    %>>
</div>

<%= generic_remarks_description_field('duty_status',@selected_duty_status[:remark]) %>