<%
   collectiveResponses = flash[:collective_responses]
   if collectiveResponses
%>
    <div class="error_messages" style="padding:5px; color:#721314; margin:5px; border-color:#721314; border-width: 2px; border-style:solid; border-left-color:#721314; border-left-width:5px; border-left-style:solid;">
        <%= flash[:collective_responses] %><br>
    </div>
<% end %>