  <div class='small-6 columns employee_quick_profile'>
    <img class='employee_quick_picture' id='employee_quick_picture' src='/entity_avatars/default.jpg'/>
    <div class='employee_quick_profile_data' id='employee_quick_profile_data'>
      <div class='employee_quick_actor_name' id="employee_quick_actor_name">
        <a class='employee_quick_actor_link' id="employee_quick_actor_link" href="#">
          N/A
        </a>
      </div>
      <div class='employee_quick_employee_id' id="employee_quick_employee_id"> N/A </div>
      <div class='employee_quick_actor_description' id="employee_quick_actor_description"> N/A </div>
      <div class='employee_quick_actor_duty_status' id="employee_quick_actor_duty_status"> N/A </div>
    </div>
  </div>

  <script type='text/javascript'>
      $(document).ready(function(){$('.employee_select_field').selectize({sortField: 'text'})});
      $(document).ready(function(){
          update_quick_profile();
          $('.employee_select_field').change(function(){update_quick_profile();});
      });
  </script>