<%= form_tag("",
             method: :get,
             class: "search_form",
             :"data-parsley-validate" => "") do %>

    <div class="row collapse" style="float: left">
      <div class="small-5 columns">
        <%= text_field_tag( "search_field",
                            value=nil,
                            options = {id: controller.controller_name+"_search_input",
                                       class: 'generic_table_search_field',
                                       placeholder: ("Search for a specific person using his/her name or description"),
                                       :"data-parsley-trigger" => "keyup",
                                       :"data-parsley-minlength"=>"3" ,
                                       :"data-parsley-maxlength"=>"64"
                            }) %>
      </div>
      <div class="small-2 columns">
        <select name="current_limit" id="current_limit">
          <option value="" disabled selected>Limit per Page</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="small-1 columns"><input type="submit" class="button postfix" value="&#128269;" /></div>
      <div class="small-3 columns"></div>
    </div>
    <br>

<% end %>

<script type="text/javascript">
    $('#<%= controller.controller_name+"_search_input" %>').autocomplete({
        serviceUrl: '<%= controller.controller_name+"/search_suggestions" %>',
        minChars: 3
    });
</script>