<div class="large-2 columns" id="side-navigation-container" style="background-color:gray; margin-top: 2px; border-left-color: #721314; border-left-style: solid; border-left-width: 3px;">

  <div id="navigation_label_container" style="color: white; font-size: 14px; font-family: Helvetica, Arial, Sans-Serif; padding-top: 5px; border-bottom-color:white; border-bottom-style:solid; border-bottom-width:1px;">
    <p id="navigation_label" style="float:left; letter-spacing: 1px;">NAVIGATION</p>
    &nbsp;
    <p style="float:right">
    <a id="expand_all" href="#">&#x25BC</a>
    <a id="collapse_all" href="#">&#9776</a>
    <a id="hide_show_all" href="#">&#x25c9</a>

    <br type="_moz">
    </p>
  </div>

  <input id="search_system" class="search_system" type="text" placeholder="Search System" value="" tabindex="1" style="height:10px; background-color: dimgray; color:white; border-color: dimgray; padding: 10px; font-size: 11px;"/>

  <div id="side-navigation" style="padding-top: 1px;">
    <%= render_navigation :expand_all => true %>
  </div>
</div>

<style>
    input.search_system::-webkit-input-placeholder { /* WebKit browsers */
        color:    white;
    }
    input.search_system:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    white;
        opacity:  1;
    }
    input.search_system::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    white;
        opacity:  1;
    }
    input.search_system:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    white;
    }
</style>