<nav class="top-bar" data-topbar role="navigation">

  <!--
  <ul class="title-area">
    <li class="name">
      <h1>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  --!>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
        <%= link_to('Sign In', {:controller => "Access", :action => "signin"} ) %>
      </li>
      <li class="active"><%= link_to('Register', {:controller => "Access", :action => "registration"} ) %>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to('HOME', {:controller => "home", :action => "index"} ) %></li>
      <li><a href="#"> PARTS LIBRARY </a></li>
      <li><a href="#"> BECOME A SUPPLIER </a></li>
      <li><a href="#"> BECOME A RETAILER </a></li>
      <li><a href="#"> STORE LOCATIONS </a></li>
      <li><a href="#"> ABOUT US </a></li>
    </ul>

  </section>
</nav>