<section class="small-10 columns">

  <div class="mainheader">Human Resources Dashboard</div>
  <div class="subdescription"> The module provides the capability to more effectively plan, control and manage Human Resources; achieve improved efficiency and quality in decision making; and improve employee and managerial productivity and effectiveness. </div>

  <br>

  <!-- A default button-group -->
  <ul class="button-group">
    <a href="/human_resources/employee_accounts_management" class="button tiny">Employee Accounts Management</a>
    <a href="#" class="button tiny">Compensation and Benefits</a>
    <a href="#" class="button tiny">Attendance</a>
    <a href="#" class="button tiny">Settings</a>
  </ul>

</section>
