<section class="small-10 columns">

  <div class="mainheader">Human Resources Module</div>
  <div class="subdescription"> The module provides the capability to more effectively plan, control and manage Human Resources. </div>
  <br>

  Employee Accounts Management
  <ul class="button-group">
    <li><a href="/human_resources/employee_accounts_management" class="button tiny">Employee Accounts Management</a></li>
    <li><a href="/human_resources/employee_profile" class="button tiny">Employee Profile</a></li>
    <li><a href="/human_resources/duty_statuses" class="button tiny">Duty Status</a></li>
    <li><a href="/human_resources/new_employee" class="button tiny">New Employee</a></li>
  </ul>

  Compensation and Benefits
  <ul class="button-group">
    <li><a href="/human_resources/base_rates" class="button tiny">Base Rates</a></li>
    <li><a href="/human_resources/lump_adjustments" class="button tiny">Lump Adjustments</a></li>
    <li><a href="/human_resources/vales" class="button tiny">Vales</a></li>
    <li><a href="/human_resources/vales" class="button tiny">Leave of Absence</a></li>
    <li><a href="/human_resources/institutional_adjustment" class="button tiny">Institutional Adjustments</a></li>
    <li><a href="/human_resources/employee_payroll" class="button tiny">Employee Payroll</a></li>
    <li><a href="/human_resources/branch_payroll" class="button tiny">Branch Payroll</a></li>
  </ul>

  Attendance
  <ul class="button-group">
    <li><a href="/human_resources/regular_work_periods" class="button tiny">Regular Work Periods</a></li>
    <li><a href="/human_resources/rest_days" class="button tiny">Rest Days</a></li>
    <li><a href="/human_resources/branch_attendance_sheet" class="button tiny">Branch Attendance Sheet</a></li>
  </ul>

  Settings and Constants
  <ul class="button-group">
    <li><a href="/human_resources/constants" class="button tiny">Constants</a></li>
    <li><a href="/human_resources/holidays" class="button tiny">Holidays</a></li>
    <li><a href="/human_resources/holidays" class="button tiny">Holiday Types</a></li>
  </ul>

</section>
