<section class="small-10 columns">

  <div class="mainheader">Human Resources Module</div>
  <div class="subdescription"> The module provides the capability to more effectively plan, control and manage Human Resources. </div>
  <br>

  <ul class="button-group">
    <li><a href="/human_resources/employee_accounts_management" class="button tiny">Employee Accounts Management</a></li>
    <li><a href="/human_resources/attendance" class="button tiny">Attendance</a></li>
    <li><a href="/human_resources/compensation_and_benefits" class="button tiny">Compensation and Benefits</a></li>
    <li><a href="/human_resources/settings" class="button tiny">Settings</a></li>
  </ul>

</section>
