<section class='small-10 columns'>
  <div class='mainheader'> Employee Accounts Management </div>
  <div class='subdescription'> Manage the Details of an Employee  </div>
  <hr>

  <ul class="button-group">
    <li><%= renderCorePartial('generic_back_button') %></li>
    <li><a href="/human_resources/employee_accounts_management/employees" class="button tiny">Employee Accounts Management</a></li>
    <li><a href="/human_resources/employee_accounts_management/employee_profile" class="button tiny">Employee Profile</a></li>
    <li><a href="/human_resources/employee_accounts_management/duty_statuses" class="button tiny">Duty Status</a></li>
    <li><a href="/human_resources/employee_accounts_management/new_employee_wizard" class="button tiny">New Employee Wizard</a></li>
  </ul>

</section>