<section class="small-10 columns">

  <div class="mainheader">General Administrator</div>
  <div class="subdescription"> The module provides the capability of a user to configure system-related parameters. </div>
  <br>

  <ul class="button-group">
    <li><a href="/general_administrator/actor" class="button tiny">Actor</a></li>
    <li><a href="/general_administrator/branch" class="button tiny">Branch</a></li>
    <li><a href="/general_administrator/contact_details" class="button tiny">Contact Details</a></li>

  </ul>

</section>
