<%
   total_regular_work_hours = 0
   total_overtime_hours = 0
   total_night_shift_differential_hours = 0
   total_ot_nsd_hours = 0

   total_reg = 0
   total_ot = 0
   total_nsd = 0
   total_ot_nsd = 0

   total_for_selection = 0
%>

<% if (@selected_attendances.present?) %>
<div class="generic_content">
  <span class="table-label">Attendance - Payment Scheme</span>
  <table class="generic_table">
    <thead>
    <tr>
      <th colspan="3">Attendance</th>
      <th colspan="4">Number of Hours</th>
      <th colspan="4">Payment per Hour</th>
      <th colspan="4">Aggregated Payment</th>
    </tr>
    <tr>
      <th>Day</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>REG</th>
      <th>OT</th>
      <th>NSD</th>
      <th>OT NSD</th>
      <th>REG</th>
      <th>OT</th>
      <th>NSD</th>
      <th>OT NSD</th>
      <th>REG</th>
      <th>OT</th>
      <th>NSD</th>
      <th>OT NSD</th>
      <th>TOTAL</th>
      <th>Remark</th>
    </tr>
    </thead>
    <tbody>
    <%
       start_date = Date.parse(@start_date)
       end_date = Date.parse(@end_date)
       (start_date..end_date).each do |date|
    %>

        <% attendance_exists_token = false %>
        <% @selected_attendances.each do |selected_attendance| %>
            <% if selected_attendance[:date_of_attendance] == date %>
                <%
                   attendance_exists_token = true
                   attendance_time_in = selected_attendance[:timein].strftime("%T")
                   attendance_time_out = selected_attendance[:timein].strftime("%T")
                %>
                <tr>
                  <td> <%= date %> </td>
                  <td> <%= attendance_time_in %> </td>
                  <td> <%= attendance_time_out %> </td>
                </tr>
            <% end %>
        <% end %>

        <% if attendance_exists_token == false %>
            <tr>
              <td> <%= date %> </td>
              <td colspan="2"> ABSENT </td>
            </tr>
        <% end %>

    <% end %>
    </tbody>
  </table>
</div>
<% end %>