<%= generic_employee_select_field('payroll',@selected_payroll[:employee_id]) %>

<div class="form-block">
  <div class="label">Article  : </div>
  <br />
  <select name='payroll[article]'
          style="width: 50%"
          required="required" >
    <% if @selected_payroll[:article] == "SSS" %>
        <option disabled>Select Article</option>
        <option value="SSS" selected>SSS</option>
        <option value="PHILHEALTH" >PHILHEALTH</option>
        <option value="PAGIBIG" >PAGIBIG</option>
    <% elsif @selected_payroll[:article] == "PHILHEALTH" %>
        <option disabled>Select Article</option>
        <option value="SSS">SSS</option>
        <option value="PHILHEALTH" selected>PHILHEALTH</option>
        <option value="PAGIBIG">PAGIBIG</option>
    <% elsif @selected_payroll[:article] == "PAGIBIG" %>
        <option disabled>Select Article</option>
        <option value="SSS">SSS</option>
        <option value=0>PHILHEALTH</option>
        <option value="PAGIBIG" selected>PAGIBIG</option>
    <% else %>
        <option disabled selected>Select Article</option>
        <option value="SSS">SSS</option>
        <option value="PHILHEALTH" >PHILHEALTH</option>
        <option value="PAGIBIG">PAGIBIG</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Applicability  : </div>
  <br />
  <select name='payroll[applicability]'
          style="width: 50%"
          required="required" >
    <% if @selected_payroll[:applicability] == true %>
        <option disabled>Select Applicability</option>
        <option value=1 selected>ACTIVE</option>
        <option value=0>INACTIVE</option>
    <% elsif @selected_payroll[:applicability] == false %>
        <option disabled>Select Applicability</option>
        <option value=1>ACTIVE</option>
        <option value=0 selected>INACTIVE</option>
    <% else %>
        <option disabled selected>Select Applicability</option>
        <option value=1>ACTIVE</option>
        <option value=0>INACTIVE</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Date of Effectivity  : </div>
  <input type="datetime-local"
         required="required"
         name="payroll[date_of_effectivity]"
         style="width: 50%"
         step="1"
         value= <%= @selected_payroll[:date_of_effectivity].present? ?
                            @selected_payroll[:date_of_effectivity].strftime('%FT%T') :
                            Time.now.strftime('%FT%T')  %>>
</div>

<%= generic_remarks_description_field('payroll',@selected_payroll[:remark]) %>
