<section class='small-10 columns'>

  <%= generic_title('Payroll per branches','Payroll of a Specific branches for a Specific Period in Time') %>

  <%= render "human_resources/compensation_and_benefits/payrolls/initial_date_branch_selector" %><hr>
  <%= render "human_resources/compensation_and_benefits/payrolls/branch_employee_results" %><hr>

</section>