<section class="small-10 columns">

  <div class="mainheader">Access</div>
  <div class="subdescription"> Access and permission capabilities </div>
  <br>

  <ul class="button-group">
    <li><a href="/access/accesses" class="button tiny">System Accesses</a></li>
    <li><a href="/access/permissions" class="button tiny">Permissions</a></li>
  </ul>

</section>