<br><br><br><br>


<div class="row">

  <div class="large-2 columns"></div>
  <div class="large-10 columns">

    <h1>Thank You!</h1>

    <h3>
      Registration Complete!
    </h3>

  </div>
  <div class="large-2 columns"></div>

</div>