<br><br><br><br><br>


<div class="row">
<div class="large-3 columns">&nbsp;</div>
<div class="large-6 columns">

  <%= form_tag({action: :login}, multipart: false, id: "signin_form", :"data-parsley-validate" => "" ) do %>
    <div class="row">
        <h1 class="mainheader">Sign In</h1>

      <%=
          text_field_tag("access[username]",
                         value = nil,
                         options = {id:"username",
                                    placeholder:  t('access.simple_username'),
                                    required: "required",
                                    pattern: "[a-z0-9_-]{3,64}$",
                                    :"data-parsley-trigger" => "keyup",
                                    :"data-parsley-minlength" => "3",
                                    :"data-parsley-maxlength" => "64" })
      %>

      <%= text_field_tag("access[password]",
                         value = nil,
                         options = {id: "password",
                                    placeholder: t('access.password'),
                                    required: "required",
                                    type: "password",
                                    :"data-parsley-trigger" => "keyup",
                                    :"data-parsley-minlength"=>"8" ,
                                    :"data-parsley-maxlength"=>"64"} )
      %>


      <div align="right">Remember me when I'm logged in [ <%= check_box_tag("rememberme", value = "1", checked = false, options = {}) %> ] <br> </div>
        <div align="right"><input type="submit" class="medium button" href="#" value="LOG IN"> </div>

        <br><br>
        <div align="center"> Recover Account through Email</div>

    </div>
<% end %>

</div>
<div class="large-3 columns">&nbsp;</div>
</div>