<br><br><br><br>


    <div class="row">

      <div class="large-2 columns"></div>
      <div class="large-10 columns">

        <h1>Thank You!</h1>

        <h3>
          A Confirmation Message has been sent to your Email Account. Please login and click on the link to complete the process.
        </h3>

      </div>
      <div class="large-2 columns"></div>

    </div>