<br><br><br>

<div class="row">
  <div class="12 columns text-center">
    <br><br><br><br><br><br>
  </div>
</div>

<div class="row">
  <div class="12 columns text-center">
    <h1> DEVELOPER MODE ERROR </h1>
    <%= params[:error] %>
    <%= flash[:collective_response] %>
  </div>
</div>