<br><br><br>

<div class="row">
  <div class="12 columns text-center">
    <br><br><br><br><br><br>
  </div>
</div>

<div class="row">
  <div class="12 columns text-center">
    <%= image_tag "northseapartslogo.png" %>
  </div>
</div>

<div align="center">
<%= renderCorePartial("searchbox") %>
</div>