// Place all the styles related to the general_administration/associated_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overview_image_cell
{
  width: 100px;
  height: 100px;
  padding: 5px;
  float: left;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  border: #808080 thin solid;
}