<div class="form-block" style="float: left; width: 50%;">
  <div class="form_label"> <%= my_label %> </div>
  <input required="required" type="datetime-local" name="<%= controller_path %>[<%= attribute_name %>]" value=<%= selected_model_instance[attribute_name.to_sym] %>>
</div>
<hr style="visibility: hidden">