<div class="generic_form_button_set" align="center">

  <%= renderCorePartial('generic_back_to_index_button') %>

  <% if action_name == 'new' || action_name == 'edit' %>
      <%=
          if selected_model_id.present?
            link_to( "DELETE".html_safe,
                     {:action => 'delete',
                      :id => selected_model_id},
                     class: 'tiny button deletable_item')
          end
      %>
      <input type="reset" class="tiny button" value="RESET" />
      <input type="submit" class="tiny button" value="SUBMIT" />
  <% elsif action_name == 'show' %>

      <%= link_to( "EDIT RECORD".html_safe ,
                   {:action => 'edit',
                    :id => selected_model_id},
                   class: 'tiny button') %>

      <script>
          $("input").prop("disabled", true);
          $("selectize").prop("disabled", true);
          $("textarea").prop("disabled", true);
          $("select").prop("disabled", true);
      </script>

  <% else %>

  <% end %>

</div>