<div class="large-6 columns">

  <%= f.input :picture,
              :as => :file,
              :label => "Picture",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:picture],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 256
                      }
  %>

  <% if action_name != 'new' %>
      <img src="<%= selected_model_instance.picture.url %>">
      <hr style="visibility: hidden">
  <% end %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
  <%= polymorphic_selector(selected_model_instance,'imagesetable',f) %>
</div>