<%= @access %>

<div class="large-6 columns">
  minimize/maximize jquery dialog - JSFiddle
  jsfiddle.net/jasonday/zsk6l/
  Isalin ang pahinang ito
  //set the positioning to center the dialog - 200 is equal to height of dialog. 21. top: ($(window).height()-200)/2,. 22. //set the height again. 23. height: 200. 24.
  html - Minimize / Maximize div's with jQuery - Stack Overflow
  stackoverflow.com/.../minimize-maximize-divs-wi...
  Isalin ang pahinang ito
  Abr 23, 2013 - Say you give .btn-minimize the minus icon in CSS. You also give .btn-minimize.btn-plus the plus icon. Your javascript can then look like this:
  How to Minimize/Maximize jQuery Dialog? - Stack Overflow
  stackoverflow.com/.../how-to-minimize-maximize...
  Isalin ang pahinang ito
  Hul 19, 2012 - I am using jQuery UI Dialog to show a video. The video is working fine. .... There is an extension for jQuery UI dialog, named "DialogExtend" that ...
  jquery-dialogextend - Google Code
  https://code.google.com/p/jquery-dialogextend/ - Isalin ang pahinang ito
  Neat, simple, and ABSOLUTELY unobtrusive; Extending (instead of replacing) original jQuery UI dialog; Maximize and minimize buttons; Show/Hide close  ...
  ROMB/jquery-dialogextend · GitHub
  https://github.com/ROMB/jquery-dialogextend
  Isalin ang pahinang ito
  jQuery DialogExtend Plugin - Maximize and Minimize Buttons for UI Dialog ... Demo. Test Tool : http://romb.github.io/jquery-dialogextend/example.html  ...
  Restore/Maximize after Minimize refreshes embedded ...
  https://github.com/ROMB/jquery-dialogextend/.../...
  Isalin ang pahinang ito
  Hun 19, 2013 - I have a Jquery UI Dialog that has an embedded iframe to load an external website. When I attempt to maximize or restore from a minimized ...
  jQuery Dialogr
  carvalhar.com/componente/jQueryDialogr/
  Isalin ang
</div>