<a href="">
  fasfadf
</a>

<script>

    $.ajax({
        method: "POST",
        url: "/test/index",
        data: { username: "sample" }
    })
            .done(function( msg ) {
                alert( "Data Sent: " + msg );
            });


</script>