<%= @access %>

<div class="large-6 columns">
  <%= @variable %>
</div>

<script>
    $.ajax({
        type: "POST",
        url: "/testMyAJAX/lala",
        data: "meanie",
        success: function(response){
            alert(response);
        },
        dataType: "text"
    });
</script>