<section class='small-10 columns'>
  <div class='mainheader'> Contact Details </div>
  <div class='subremark'> Manage contact details of all actors </div>
  <hr>
  <ul class="button-group">
    <li><%= renderCorePartial('generic_back_button') %></li>
    <li><a href="/general_administrator/contact_details/addresses" class="button tiny">Addresses</a></li>
    <li><a href="/general_administrator/contact_details/digitals" class="button tiny">Digitals</a></li>
    <li><a href="/general_administrator/contact_details/telephones" class="button tiny">Telephones</a></li>
  </ul>
</section>