<div class="large-6 columns">
  <%= generic_form_collection_selector(f,'system_account_id', 'Associated System Account', SystemAccount.all, selected_model_instance) %>
  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
</div>

<%= related_models('Employee',params[:id]) unless generally_new? %>
