<section class='small-10 columns'>
  <div class='mainheader'> Compensation and Benefits </div>
  <div class='subdescription'> Payroll Packages for an Employee  </div>
  <hr>

    <ul class="button-group">
      <li><%= renderCorePartial('generic_back_button') %></li>
      <li><a href="/human_resources/compensation_and_benefits/base_rates" class="button tiny">Base Rates</a></li>
      <li><a href="/human_resources/compensation_and_benefits/lump_adjustments" class="button tiny">Lump Adjustments</a></li>
      <li><a href="/human_resources/compensation_and_benefits/vales" class="button tiny">Vales</a></li>
      <li><a href="/human_resources/compensation_and_benefits/vale_adjustments" class="button tiny">Vale Adjustments</a></li>
      <li><a href="/human_resources/compensation_and_benefits/leave_of_abscence" class="button tiny">Leave of Absence</a></li>
      <li><a href="/human_resources/compensation_and_benefits/institutional_adjustments" class="button tiny">Institutional Adjustments</a></li>
      <li><a href="/human_resources/compensation_and_benefits/employee_payroll" class="button tiny">Employee Payroll</a></li>
      <li><a href="/human_resources/compensation_and_benefits/branch_payroll" class="button tiny">Branch Payroll</a></li>
    </ul>

</section>