<section class="large-10 columns">
  <%= generic_title('Wizard Completed','Take the Next Action') %>

  <a class="medium button" href="<%= wizard_path(wizard_steps.first) %>"> Add Another </a>
  <a class="medium button" href="<%= home_controller %>"> Back to Main Index </a>

</section>
