/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require jquery.sapling
 *= require parsley
 *= require_tree .
 *= require_self

 */

.mainheader
{
  font-size: 30px;
  font-family: arial, sans-serif;
  border-left-color: #721314;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  text-transform: uppercase;
}

.miniheader
{
  font-size: 15px;
  font-family: arial, sans-serif;
  background-color: dimgray;
  color:white;
  padding-left: 10px;
  border-left-color: #721314;
  border-left-width: 5px;
  border-left-style: solid;
}

// TABLE

table
{
  table-layout: fixed;
  width: 100%;
}

th
{
  color:white;
  background-color: #cccccc;
}

tr:hover:nth-child(odd),tr:hover:nth-child(even)
{
  background-color: #cccccc;
  color: white;
}

//TREE STUFF
ul, li .side-navigation
{
  list-style-type: none;
  font-size: 12px;
}

li:hover
{
  color:white;
  background-color: gray;
}

//SUB HEADER DESCRIPTION
.subdescription
{
  padding: 5px;
  padding-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
}