/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * Foundation Framework
 *= require foundation_and_overrides
 *= require custom_overrides
 *= require jquery.sapling
 *= require parsley
 *= require parsley_overrides
 *= require selectize
 *= require jquery.dataTables
 *= pagination
 *= topbar
 *= sidenavigation
 *= spacers
 *= generic_table
 *= require_tree .
 *= require_self
 */

/* Application Wide Styles */

body {
  min-width: 1360px;
}

.northsea-red {
  color : #721314 !important;
}


.mainheader
{
  font-size: 30px;
  font-family: arial, sans-serif;
  border-left-color: #721314;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  text-transform: uppercase;
}

.miniheader
{
  font-size: 15px;
  font-family: arial, sans-serif;
  background-color: dimgray;
  color:white;
  padding-left: 10px;
  border-left-color: #721314;
  border-left-width: 5px;
  border-left-style: solid;
}

//SUB HEADER DESCRIPTION
.subdescription
{
  padding: 5px;
  padding-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
}

.whitebackgroundlink
{
  color: #721314;
}

.whitebackgroundlink:hover
{
  color: #FF6600;
}

#general_flash_notification
{
  background-color: #FF6600;
  width: 100%;
}
#general_flash_notification:hover
{
  background-color: #c64700
}

.border-light {
  padding : 16px;
}

.content {
  border : 1px solid #cccccc;
  padding : 16px;
}

/************************************************************************* FORMS*/

/*
Unsure of what this is
form div.row {
  margin : 16px 0;
}
*/

/************************************************************************* CUSTOM PARSLEY STYLES*/

