.default_table_style
{
    color:black;
    padding-top: 5px;
    border-color:white;
}

.default_table_style tr th
{
    background-color: dimgray;
    color: white;
    font-size: 10px;
    padding:0px;
    text-align: center;
}

.default_table_style tr th:hover
{
    background-color: #721314;
}

.default_table_style tbody tr:hover
{
    background-color: #999999;
}

.default_table_style thead
{
    background-color: dimgray;
}

.default_table_style thead tr th:hover
{
    background-color: #721314;
}

.table_button
{
    background-color: #721314;
    color:white;
    padding:5px;
}














