.employee_profile_small_button
{
    padding: 5px;
    background-color: #808080;
    font-size: 12px;
    color:white;
}

.employee_profile_small_button:hover
{
    background-color: #852324;
}

.employee_profile_image_link
{

}

.employee_profile_image_container
{
}