.show_panel_small_button
{
    padding: 5px;
    background-color: #808080;
    font-size: 12px;
    color:white;
}

.show_panel_small_button:hover
{
    background-color: #852324;
}

.show_panel_image_link
{

}

.show_panel_image_container
{
    height: 50px;
    overflow-y: hidden;
    padding: 5px;
}