.generic_tricolumn_form {
    float : left;
    font-size: 12px;
    margin-bottom : 16px;
    width : 33% !important;
}

.generic_tricolumn_form .form-block, .generic_tricolumn_form .generic_bicolumn_form {
    width : 100%;
}

.generic_tricolumn_form .employee_quick_profile {
    padding : 4px;
    width : 100% !important;
}

.tricolumn_form_footer .generic_form_button_set {
    text-align: right;
    clear : both;
}

.generic_bicolumn_form
{
    border-right : 1px solid #cccccc;
    font-size: 12px;
    float:left;
    margin-bottom : 32px;
    width:50%;
}

.generic_singlecolumn_form
{
    font-size: 12px;
    border-right : 1px solid #cccccc;
    margin-bottom : 32px;
    float:left;
    width:75%;
}

.current_edit_id
{
    background-color: #d9d9d9;
    padding: 5px;
    color: #000000;
    width: auto;
    font-size: 12px;
}

.selectize-input > input[type='text']
{
    height: auto;
}

.form-block {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 50%;
}

.form-block > .label
{
    padding: 5px;
    background-color: #d9d9d9;
    color: black;
}

.employee_select_field
{
    width: 400px;
}

.remark_description
{
    width: 90%;
}

.generic_form_button_set
{
    padding: 20px;
}

