.item_cell
{
    border: solid #f2f2f2 medium;
    width: 25%;
    margin: 2px;
    font-size: 11px;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #000000;
    background-color: #f2f2f2;
    float:left;
}

.item_cell > div
{
    margin-bottom: 10px;
}

.item_cell > div > a
{
    padding: 5px;
    background-color: #dcdcdc;
    color: black;
}

.item_cell > div > a:hover
{
    background-color: #721314;
    color: white;
}


.item_cell:hover
{
    border: solid orange medium;
}

#current_freewall
{
    padding: 1%;
}

.item_cell > ul.button-group > li
{
}