.generic_table
{
    width: 100%;
}

.generic_table > * > * > * > * > *
{
    color:black;
    font-size: 10px;

}

.generic_table > thead > * > *
{
    background-color: #721314;
    padding: 5px;
    font-size: 12px;
    font-weight: 100;
}

.generic_table > tbody > tr > * > *
{
    color: black;
}

.generic_table > tbody > tr:hover
{
    background-color: orange;
}

.generic_table > tbody > tr > td > a:hover
{
    background-color: #721314;
    color: white;
}

.generic_table > thead > tr > th.actions
{
    background-color: white;
    color:black;
    visibility: hidden;
}

.generic_table > tbody > tr > td.actions > a
{
    color:black;
    visibility: hidden;
}

.generic_table > tbody > tr > td
{
    padding: 5px;
}

.generic_table > tbody > tr > td.actions > a:hover
{
    background-color: #721314;
    color: white;
}

.generic_table > tbody > tr > td > .action_button
{
    margin: 5px;
    font-size: 20px;
}

.generic_table > tbody > tr > th
{
    background-color: orange;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: orange; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.generic_table_options
{
    float: right;
}

.search_query_remark
{
    float: left;
    font-size: 12px;
    padding: 5px;
    background-color: #d9d9d9;
}

.subtotal
{
    background-color: #585858;
    color:white;
}