.main_form
{
    font-size: 12px;
    margin-bottom : 32px;
    width:100%;
}

.current_edit_id
{
    background-color: #d9d9d9;
    padding: 5px;
    color: #000000;
    width: auto;
    font-size: 12px;
}

.selectize-input > input[type='text']
{
    height: auto;
}

.form-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form_label
{
    padding: 5px;
    background-color: #d9d9d9;
    color: black;
    float:left;
    font-size: 11px;
}

.employee_select_field
{
    width: 400px;
}

.remark_remark
{
    width: 90%;
}

.generic_form_button_set
{
    display: block;
    float: left;
}