.no-padding {
    padding : 0;
}

.no-margin {
    margin : 0;
}

.min-spacer {
    height : 8px;
}

.sm-spacer {
    height : 16px;
}

.md-spacer {
    height : 32px;
}

.lg-spacer {
    height : 64px;
}