<div class='small-12 columns'>
  <div class="show_panel_header"> Associated Files </div>

  <div class='small-4 columns'>
    <div class="show_panel_division">FILES</div>

  </div>

  <div class='small-4 columns'>
  <% if @selected_image_set.present? %>
      <div class="show_panel_division">IMAGES</div>
      <ul class="small-block-grid-3" >
        <% @selected_image_set.each do |image_set| %>
            <li tooltip=<%= image_set.description %> class='employee_profile_image_container' style='height: 50px;overflow-y: hidden;padding: 5px;'><a class='employee_profile_image_link' target="_blank" href=<%= image_set.picture.url %>> <img src=<%= image_set.picture %>/> </a></li>
        <% end %>
      </ul>
    <% else %>
        <hr><div align="center"> n/a </div><hr>
  <% end %>
  </div>

  <div class='small-4 columns'>
    <div class="show_panel_division">LINKS</div>
  </div>
</div>