<section class="large-10 columns">

  <%= generic_title("Upload Spreadsheet File", "Upload file with the required format") %>

      <%=
          simple_form_for wizard_path,
                          :html => { :'data-parsley-validate' => '',
                                     :class => 'main_form',
                                     :method => :patch} do |f|
      %>

      <%= f.input :file,
                  :as => :file,
                  :label => "File",
                  label_html: { class: 'form_label' }
      %>
      <button type="submit"> IMPORT </button>

  <% end %>

  <div class="large-12 columns">

    <label class="form_label">
      Please follow the following table format:
    </label>
    <hr>

    <table>
      <thead>
        <th style="color:black;"> system_account </th>
        <th style="color:black;"> category </th>
        <th style="color:black;"> address </th>
        <th style="color:black;"> digital </th>
        <th style="color:black;"> telephone </th>
      </thead>
      <tbody align="center">
      <tr>
        <td> account name </td>
        <td> category of account </td>
        <td> address_1 ; address_2 ; address_3 </td>
        <td> digital_1 ; digital_2 ; digital_3</td>
        <td> telephone_1; telephone_2; telephone_3;</td>
      </tr>
      <tr>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
      </tr>
      <tr>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
      </tr>
      <tr>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
        <td> ... </td>
      </tr>
      </tbody>
    </table>
  </div>

</section>
