<div class="form-block">
  <div class="label">Email</div>
  <input type="email"
         required="required"
         placeholder="Enter URL"
         data-parsley-trigger = keyup
         data-parsley-type = email
         data-parsley-maxlength = 64
         id="digital_url"
         value= "<%= @selected_digital[:url] %>"
         name="digital[url]">
</div>

<div class="form-block">
  <div class="label">remark</div>
  <input type="text"
         required="required"
         placeholder="Enter URL remark"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="digital_remark"
         value= "<%= @selected_digital[:remark] %>"
         name="digital[remark]">
</div>

<%= generic_related_actors_selector('digital', @digital_actor_rel) %>
