<div class="large-6 columns">
  <%= render_employee_selector(f, selected_model_instance ) %>
  <%= render_collection_selector(f, selected_model_instance, 'day', 'Day', ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'] ) %>
  <%= render_datetime_field(f, selected_model_instance, 'datetime_of_implementation', 'Date and Time of Implementation') %>
  <%= render_remark_field(f, selected_model_instance[:remark]) %>
</div>