<section class="small-10 columns">

  <div class="mainheader">General Administrator</div>
  <div class="subremark"> The module provides the capability of a user to configure system-related parameters. </div>
  <br>

  <ul class="button-group">
    <li><a href="/general_administrator/actor" class="button tiny">Actor</a></li>
    <li><a href="/general_administrator/branches" class="button tiny">Branch</a></li>
    <li><a href="/general_administrator/contact_details" class="button tiny">Contact Details</a></li>
    <li><a href="/general_administrator/vehicle" class="button tiny">Vehicles</a></li>
    <li><a href="/general_administrator/file_set" class="button tiny">File Set</a></li>
    <li><a href="/general_administrator/image_set" class="button tiny">Image Set</a></li>
    <li><a href="/general_administrator/link_set" class="button tiny">Link Set</a></li>
  </ul>

</section>
