<section class="small-10 columns">

  <div class="mainheader">Finance</div>
  <div class="subdescription"> Provides interface to manage treasury and finance modules. </div>
  <br>

  -- DATE SELECTOR --

  <table class="generic_table">
    <thead>
        <tr>
          <td>Date</td>
          <td>Account</td>
          <td>Amount</td>
          <td>Physical ID</td>
          <td>Remark</td>
          <td>Associations</td>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td>10/2/5</td>
      <td>Utilities</td>
    </tr>
    </tbody>
  </table>

  <ul class="button-group">
    <li><a href="/finance/expenses" class="button tiny">Expenses</a></li>
  </ul>

</section>
