<!DOCTYPE html>
<html lang="en">
  <head>
    <%= renderCorePartial("common_head"); %>
  </head>
  <body>
    <%= renderCorePartial("topbar"); %>
    <br>
    <%=
        renderCorePartial("sidenavigation");
    %>
    <%= yield %>
  </body>
</html>
