<section class='small-10 columns'>
  <div class='mainheader'> Attendance </div>
  <div class='subdescription'> Monitor the Presence of Employees in Premises </div>
  <hr>
  <ul class="button-group">
    <li><%= renderCorePartial('generic_back_button') %></li>
    <li><a href="/human_resources/attendance_performance/attendances" class="button tiny">Attendance</a></li>
    <li><a href="/human_resources/attendance_performance/regular_work_periods" class="button tiny">Regular Work Periods</a></li>
    <li><a href="/human_resources/attendance_performance/rest_days" class="button tiny">Rest Days</a></li>
    <li><a href="/human_resources/attendance_performance/branch_attendance_sheet" class="button tiny">Branch Attendance Sheet</a></li>
  </ul>
</section>